#container {
    position: relative;
}

body{
    background-color: blueviolet;
}

p{
    color: white;
    font-weight: bold;
}

#ball {
    width: 20px;
    height: 20px;
    background-image: url("ball2.jpg");
    background-position: center;
    position: fixed;
    top: 20px;
    left: 50%;
    right: 50%;
    border-radius: 50%;
}

#rod1, #rod2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#rod1 {

    background-color: Orange;
    top: 0px;    
}

#rod2 {
    background-color: deepskyblue;
    bottom: 0px;
}
